.logocontainer {
    margin-top: 150px;
    padding-bottom: 70px;
  }
  
  .about {
    position: relative;
    /* padding-top: 100px; */
    background-color: #716789;
  
  }
  
  .about-section p {
    margin-bottom: 5rem;
  }

  #wavebottom {
    width: 100% !important;
    height: auto;
    /* margin-bottom: -20px !important; */
}





