.logocontainer {
    margin-top: 150px;
    padding-bottom: 70px;
  }
  
  .about {
    padding-top: 10rem;
    background: linear-gradient(to bottom, #E9E6DE 0%, rgba(0, 0, 0, 0.9) 75%, rgba(0, 0, 0, 0.8) 100%);
  }
  .about-section p {
    margin-bottom: 5rem;
  }