.signupsection {
    padding: 10rem 0;
    background-color: #716789;
  }

.buttonwhite {
    position: absolute;
    background-color:#fff;
    color: black;
    border:none; 
    border-radius:10px; 
    padding:15px;
    min-height:30px; 
    min-width: 120px;
    text-decoration: none;
    width: 95%;
}

.buttonwhite:hover {
  background-color: #E9E6DE;
}

.title {
  color: white;
}

.inputstyle {
  background-color: #f9e4ff66 !important;

}

