.gallerycontainer {
  margin-top: 80px;
}

.tavlacontainer {
  position: relative;
  text-align: center;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  }
  
.titlecontainer {
  position: absolute;
  border: 1px solid white;
  height: 100px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  }

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  }

/* Gallery.module.css */
.gallery .fixedSizeImage {
  height:300px;
  width: 100%;
  object-fit: cover;
}

.titlecontainer a {
  text-decoration: none;
  color: #ffffff;

}

.titlecontainer a:hover {
  color: #474749fc;
  transition: background-color 0.3s ease-in-out;
  /* background-color: #474749fc; */
  /* padding: 20px;
  border-radius: 4px; */
}

.tavlacontainer img {
  transition: opacity 0.5s ease-in-out;
}

.tavlacontainer:hover img {
  opacity: 0.5; 
}

/* Media query for screens 766 pixels and below */
@media (max-width: 766px) {
  .gallery .fixedSizeImage {
    height: 100%; 
  }
}