.projects {
    padding: 10rem 0;
  }
  .projects .featured {
    padding: 2rem;
  }
  @media (min-width: 992px) {
    .projects .featured {
      padding: 0 0 0 2rem;
      border-left: 0.5rem solid #f8f1ca;
    }
  }
  .projects .projecttext {
    padding: 3rem;
    font-size: 90%;
  }
  @media (min-width: 992px) {
    .projects .projecttext {
      padding: 5rem;
    }
  }